.title {
    font-size: 50px;
    user-select: none;
}
.centre {
    display: flex;
    justify-content: center;
}
.margin {
    margin: 100px 0;
}
.btn {
    width: 225px;
    height: 70px;
    font-size: 35px;
    border-radius: 15%;
}
.text {
    font-size: 50px;
}
.smalltext {
    font-size: 22px;
    font-style: italic;
}
body {
    margin: 0;
    background-color: aqua;
}
#type {
    min-width: 150px;
    margin-top: 25px;
    height: 25px;
    border: 2px solid gray;
}